<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Logic Pro</title>
    <link rel="stylesheet" href="utils.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="contact.css">
    <link rel="stylesheet" href="mobile.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap" rel="stylesheet">
    <script src="script.js"></script>
</head>

<body>

    <nav class="navigation max-width-1 m-auto">

        <div class="nav-left">
            <span>Code Logic Pro</span>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="abt.html">About</a></li>
            </ul>
        </div>

        <div class="nav-right">
            <form action="search.html" method="get">
                <input class="form-input" type="text" name="query" placeholder="Search here">
                <button class="btn">Search</button>
            </form>
        </div>

    </nav>

    <div class="max-width-1 m-auto"><hr></div>
    
    <div class="contact-content font1">

        <div class="max-width-1 m-auto">
        <h2>Feel free to contact us</h2>
        <div class="contact-form">
            <div class="form-box">
                <input type="text" name="" placeholder="Enter your name">
            </div>
            <div class="form-box">
                <input type="email" name="" placeholder="Enter your email">
            </div>
            <div class="form-box">
                <input type="number" name="" placeholder="Enter your number">
            </div>
            <div class="form-box">
                <input type="text" name="" placeholder="Enter your city">
            </div>
            <div class="form-box">
                <textarea name="" placeholder="Type here" id="" cols="50" rows="7"></textarea>
            </div>
            <div class="form-box">
                <button class="btn">Submit</button>
            </div>
        </div>
        </div>

    </div>

    <div class="footer m-auto">
        Copyright &copy; :&ThickSpace; iBlog.in &ThickSpace; All rights reserved @ 2022.
    </div>

</body>

</html>